In [4]:
from connect import MySQL

In [5]:
import os

In [6]:
config = {
    'host': os.getenv('MYSQL_HOST'),
    'user': os.getenv('MYSQL_USER'),
    'password': os.getenv('MYSQL_PASSWORD'),
    'database': os.getenv('MYSQL_DATABASE'),
    'charset': 'utf8'
}

In [7]:
mysql = MySQL(config)

In [8]:
type(mysql)

connect.MySQL

In [9]:
import pandas as pd

In [10]:
sql = """
    SELECT * FROM jyo_master
"""
df_read = pd.read_sql(sql, mysql.conn)

In [11]:
df_read.set_index('jyo_name', inplace=True)

In [12]:
df_read.at['桐生', 'jyo_code']

1

In [13]:
name_list2 = {'多摩川', '浜名湖', '蒲郡', '常滑', '津',
          '三国', '住之江', '丸亀', '児島',
          '宮島', '芦屋', '福岡'}

In [14]:
set(map(lambda x: df_read.at[x, 'jyo_code'], name_list2))

{5, 6, 7, 8, 9, 10, 12, 15, 16, 17, 21, 22}