In [1]:
import mysql.connector
import const
conn = mysql.connector.connect(**const.MYSQL_CONFIG)

In [3]:
c = conn.cursor(buffered=True)
c.close()
conn.close()

In [2]:
conn2 = mysql.connector.connect(**const.MYSQL_CONFIG)

In [4]:
conn2.close()

In [8]:
sql = 'create table test (id int, content varchar(32))'
c.execute(sql)

In [36]:
# テーブル一覧の取得
sql = 'show tables'
c.execute(sql)
print('===== テーブル一覧 =====')
list(map(lambda x: x[0], c.fetchall()))

===== テーブル一覧 =====

['jyo_master', 'test']

In [ ]:
sql = \
"""
show columns from {tb_name}
"""
c.execute(sql.format(tb_name='test'))

In [47]:
list(map(lambda x: x[0], c.fetchall()))

['id', 'content', 'A']

In [9]:
import pandas as pd

In [10]:
sql = """
    SELECT * FROM jyo_master
"""
df_read = pd.read_sql(sql, mysql.conn)

In [11]:
df_read.set_index('jyo_name', inplace=True)

In [12]:
df_read.at['桐生', 'jyo_code']

1

In [13]:
name_list2 = {'多摩川', '浜名湖', '蒲郡', '常滑', '津',
          '三国', '住之江', '丸亀', '児島',
          '宮島', '芦屋', '福岡'}

In [14]:
set(map(lambda x: df_read.at[x, 'jyo_code'], name_list2))

{5, 6, 7, 8, 9, 10, 12, 15, 16, 17, 21, 22}

In [5]:
from pathlib import Path

In [58]:
Path('a').joinpath('b')

PosixPath('a/b')

In [1]:
import dt2mysql

In [2]:
jd2m = dt2mysql.JyoData2Mysql()

In [3]:
jd2m.create_table_if_not_exists()

In [8]:
with open(Path('../module/query/jyodata_create_tb.sql'), 'r') as f:
    print(f.read())

CREATE TABLE holdjyo_tb
(
    datejyo_id INT PRIMARY KEY,
    holddate DATE,
    jyo_cd INT,
    jyo_name VARCHAR(30)
)

In [8]:
Path('../module').resolve()

PosixPath('/home/contuser1/src/module')

In [ ]:
conn = mysql.connector.connect(**const.MYSQL_CONFIG)